<app-navbar></app-navbar>

<div class="flights-container">
  <div class="header">
    <div class="title-group">
      <h2>Gestione dei Voli</h2>
      <p>Qui puoi aggiungere, modificare o eliminare voli della tua compagnia aerea</p>
    </div>
    <button class="add-flight-btn" (click)="showCreate=true">Aggiungi volo</button>
  </div>

  @if(flights) {
  <div class="flight-list">
    @for(flight of flights; track flight.IdVolo) {
    <div class="flight-bar">
      <div class="flight-info">
        
    </div>
    }
  </div>
  }

  @if(showCreate) {
  <div class="modal-overlay">
    <div class="modal-content">
      <h3>Aggiungi volo</h3>
      <form [formGroup]="newFlightForm" (ngSubmit)="addflight()">

        <label for="plane">Aereo</label>
        <select formControlName="plane" required>
            <option value="" disabled>Seleziona un Aereo</option>
            @for(plane of planes; track plane.IdAereo) {
              <option [value]="plane.IdAereo">{{ plane.Modello }}</option>
            }
        </select>

        <label for="route">Rotta</label>
        <select formControlName="route" required>
            <option value="" disabled>Seleziona un Rotta</option>
            @for(route of routes; track route.IdRotta) {
              <option [value]="route.IdRotta">{{ route.Partenza }}->{{ route.Destinazione }}</option>
            }
        </select>

        <label for="schdepdate">Data partenza</label>
        <input type="datetime-local" id="schdepdate" formControlName="schdepdate" required>

        <label for="scharrdate">Data arrivo</label>
        <input type="datetime-local" id="scharrdate" formControlName="scharrdate" required>


        <label for="pcprize">Prezzo prima classe</label>
        <input type="number" id="pcprize" formControlName="pcprize" required min="0">

        <label for="bprize">Prezzo business</label>
        <input type="number" id="bprize" formControlName="bprize" required min="0">

        <label for="eprize">Prezzo economy</label>
        <input type="number" id="eprize" formControlName="eprize" required min="0">

        <label for="bagprize">Prezzo bagaglio extra</label>
        <input type="number" id="bagprize" formControlName="bagprize" required min="0">

        <label for="lrprize">Prezzo spazio gambe</label>
        <input type="number" id="lrprize" formControlName="lrprize" required min="0">

        <label for="scprize">Prezzo scelta posto</label>
        <input type="number" id="scprize" formControlName="scprize" required min="0">

        <div class="modal-buttons">
          <button type="submit" class="add-btn" [disabled]="flightForm.invalid">Aggiungi</button>
          <button type="button" class="cancel-btn" (click)="closeModal()">Annulla</button>
        </div>

      </form>
    </div>
  </div>
}

</div>

<app-footer></app-footer>