<app-navbar></app-navbar>
<div>
    <a (click)="goBack()" class="back-link">&lt; annulla</a>
</div>
<main class="login-container">

    <div class="login-box">
        <h1>Accedi al tuo account</h1>
        <form method="post" [formGroup]="loginForm">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email" required>
                @if(f['email'].invalid && (f['email'].touched || submitted)) {
                <div class="error">Campo obbligatorio</div>
                }
            </div>
            <div class="input-group password-container">
                <label for="password">Password</label>

                <input [type]="hidePassword ? 'password' : 'text'" id="password" name="password"
                    formControlName="password" required>

                <!-- Icona per mostra/nascondi -->
                <span class="material-symbols-outlined toggle-password" style="cursor: pointer;"
                    (click)="hidePassword = !hidePassword">
                    {{ hidePassword ? 'visibility' : 'visibility_off' }}
                </span>
                @if(f['password'].invalid && (f['password'].touched || submitted)) {
                    <div class="error">Campo obbligatorio</div>
                }
            </div>
            <button type="submit" class="login-button" (click)="login()">Accedi</button>
        </form>
        <div class="links">
            <a (click)="signup()">Non hai un account? Registrati</a>
        </div>
    </div>
</main>