
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Indispensabile per far occupare al body l'intera altezza della viewport */
  width: 100%;  /* Indispensabile per far occupare al body l'intera larghezza della viewport */
  overflow-x: hidden; /* Previene lo scroll orizzontale non desiderato */
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}