<div class="air-go-container">
  <app-navbar></app-navbar>

  <!-- Hero con filtri -->
  <div class="hero hero-routes">
    <h1>Gestione Rotte</h1>
    <p>Qui puoi aggiungere, modificare o eliminare rotte attuate dalla tua compagnia</p>
    <button class="add-btn hero-add-btn" (click)="showModal=true">Nuova rotta</button>

    <div class="search-box filter-inside" [formGroup]="filterForm">
      <div class="input-group">
        <label>ID</label>
        <input type="number" formControlName="id" placeholder="">
      </div>

      <div class="input-group">
          <label>Aeroporto di partenza</label>
          <ng-select
            formControlName="departure"
            [items]="airports"
            bindLabel="Citta"
            bindValue="IdAeroporto"
            [searchable]="true">
            <ng-template ng-option-tmp let-item="item">
              {{ item.Citta }} ({{ item.CodiceIdentificativo }})
            </ng-template>
          </ng-select>
        </div>

        <div class="input-group">
          <label>Aeroporto di arrivo</label>
          <ng-select
            formControlName="arrival"
            [items]="airports"
            bindLabel="Citta"
            bindValue="IdAeroporto"
            [searchable]="true">
            <ng-template ng-option-tmp let-item="item">
              {{ item.Citta }} ({{ item.CodiceIdentificativo }})
            </ng-template>
          </ng-select>
        </div>


      <button class="search-btn" type="submit" (click)="filtra()">&#10141;</button>
      <button class="search-btn reset" type="button" (click)="reset()">Reset</button>
    </div>

    
  </div>

  <!-- Lista rotte -->
  <div class="second-container">
    <div class="route-list">
      <div class="routes-grid">
        @for(route of routes; track route.IdRotta) {
          <div class="route-card">
            <h4>Rotta {{route.IdRotta}}</h4>
            <div class="route-codes">
              <div class="route-left">
                <p class="code">{{ route.CodicePartenza }}</p>
                <p class="city">{{ route.CittaPartenza }}</p>
              </div>
              <div class="route-arrow">➔</div>
              <div class="route-right">
                <p class="code">{{ route.CodiceDestinazione }}</p>
                <p class="city">{{ route.CittaDestinazione }}</p>
              </div>
            </div>
            <button class="action-btn" (click)="gestisci(route)">Gestisci</button>
          </div>
        }
      </div>
    </div>
  </div>


  @if(showModal) {
  <div class="modal-overlay">
    <div class="modal-content">
      <h3>Nuova rotta</h3>
      <form [formGroup]="newRouteForm" (ngSubmit)="addRoute()">

        <div class="input-group">
          <label>Aeroporto di partenza</label>
          <ng-select
            formControlName="from"
            [items]="airports"
            bindLabel="Citta"
            bindValue="IdAeroporto"
            [searchable]="true">
            <ng-template ng-option-tmp let-item="item">
              {{ item.Citta }} ({{ item.CodiceIdentificativo }})
            </ng-template>
          </ng-select>
        </div>

        <div class="input-group">
          <label>Aeroporto di arrivo</label>
          <ng-select
            formControlName="to"
            [items]="airports"
            bindLabel="Citta"
            bindValue="IdAeroporto"
            [searchable]="true">
            <ng-template ng-option-tmp let-item="item">
              {{ item.Citta }} ({{ item.CodiceIdentificativo }})
            </ng-template>
          </ng-select>
        </div>


        <div class="modal-buttons">
          <button type="submit" class="add-btn" [disabled]="newRouteForm.invalid">Aggiungi</button>
          <button type="button" class="cancel-btn" (click)="closeModal()">Annulla</button>
        </div>
      </form>   
    </div>
  </div>
  }

  @if(showManage && selectedRoute) {
  <div class="modal-overlay">
    <div class="modal-content manage-modal">
      <h3>Gestisci rotta #{{selectedRoute.IdRotta}}</h3>

      <div class="manage-body containerb">
        <div class="info-details">
          <div class="info-box">
            <h4>Info Rotta</h4>
            <p><strong>ID:</strong> {{ selectedRoute.IdRotta }}</p>
            <p><strong>Da:</strong> {{ selectedRoute.CodicePartenza }} - {{ selectedRoute.CittaPartenza }} ({{ selectedRoute.NazionePartenza }})</p>
            <p><strong>A:</strong> {{ selectedRoute.CodiceDestinazione }} - {{ selectedRoute.CittaDestinazione }} ({{ selectedRoute.NazioneDestinazione }})</p>
            <p><strong>Compagnia:</strong> {{ selectedRoute.NomeCompagnia }} ({{ selectedRoute.CodiceCompagnia }})</p>
        </div>

        </div>

       
        <div class="info-actions">
            <button class="action-btn" (click)="openEdit()">Modifica</button>
            <button class="delete-btn" (click)="deleteRoute(selectedRoute.IdRotta)">Elimina</button>
        </div>
      </div>

      <div class="close-area">
        <button class="cancel-btn" (click)="closeManage()">Chiudi</button>
      </div>
    </div>


     @if(showEdit && selectedRoute) {
          <div class="modal-overlay">
            <div class="modal-content">
              <h3>Modifica rotta #{{selectedRoute.IdRotta}}</h3>
              <form [formGroup]="editRouteForm" (ngSubmit)="saveEdit()">


                <div class="input-group">
                <label>Aeroporto di partenza</label>
                <ng-select
                  formControlName="from"
                  [items]="airports"
                  bindLabel="Citta"
                  bindValue="IdAeroporto"
                  [searchable]="true">
                  <ng-template ng-option-tmp let-item="item">
                    {{ item.Citta }} ({{ item.CodiceIdentificativo }})
                  </ng-template>
                </ng-select>
              </div>

              <div class="input-group">
                <label>Aeroporto di arrivo</label>
                <ng-select
                  formControlName="to"
                  [items]="airports"
                  bindLabel="Citta"
                  bindValue="IdAeroporto"
                  [searchable]="true">
                  <ng-template ng-option-tmp let-item="item">
                    {{ item.Citta }} ({{ item.CodiceIdentificativo }})
                  </ng-template>
                </ng-select>
              </div>

                <div class="modal-buttons">
                  <button type="submit" class="save-btn">Salva</button>
                  <button type="button" class="dismiss-btn" (click)="closeEdit()">Annulla</button>
                </div>

              </form>
            </div>
          </div>
        }


  </div>
}


<app-footer></app-footer>
</div>