.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3b5998;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #dfe3ee;
  font-weight: 500;
}

nav a:hover {
  color: white;
}

.log-in-btn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
  color: #3b5998;
  border: 1px solid #3b5998;
  transition: all 0.3s ease; 
}

.log-in-btn:hover {
  background-color: #3b5998;
  color: #ffffff;
}



