<header class="header">
  <div class="logo" (click)="home()">AirGo</div>
  <nav>
    <ul>
      @if(isLoggedIn) {
        @if(userRole === 0) {
          <li><button class="norm-btn" (click)="adminairports()">Aeroporti</button></li>
          <li><button class="norm-btn" (click)="adminairlines()">Compagnie aeree</button></li>
          <li><button class="norm-btn" (click)="adminmodels()">Modelli</button></li>
          <li><button class="log-in-btn" (click)="profile()">Profilo</button></li>
        }
        @if(userRole === 1) {
          <li><button class="norm-btn" (click)="airplanes()">Aerei</button></li>
          <li><button class="norm-btn" (click)="flights()">Voli</button></li>
          <li><button class="norm-btn" (click)="routes()">Rotte</button></li>
          <li><button class="norm-btn" (click)="models()">Modelli</button></li>
          <li><button class="log-in-btn" (click)="airlineprofile()">Profilo</button></li>
        }
        @if(userRole === 2) {
          <li><button class="norm-btn">I miei voli</button></li>
          <li><button class="log-in-btn" (click)="profile()">Profilo</button></li>
        }
        <li><button class="norm-btn" (click)="logout()">Esci</button></li>
      } @else {
        <li><button class="log-in-btn" (click)="login()">Accedi</button></li>
      }
    </ul>
  </nav>
</header>