<app-navbar></app-navbar>
<!--<div class="img-container">-->
<div class="ticket-container">
  <h2>Passeggeri</h2>
  <p>Inserisci i dati come indicati sul passaporto o sulla documentazione di viaggio</p>

  <div class="passenger-card">
    <h3>Passeggero 1</h3>
    <form class="passenger-form">
      <div class="form-group-inline">
        <label for="firstName1">Nome</label>
        <input type="text" id="firstName1" name="firstName1" required>
      </div>

      <div class="form-group-inline">
        <label for="lastName1">Cognome</label>
        <input type="text" id="lastName1" name="lastName1" required>
      </div>

      <div class="form-group-inline">
        <label for="dob1">Data di Nascita</label>
        <input type="date" id="dob1" name="dob1" required>
      </div>
    </form>
  </div>

  <button type="submit" class="submit-button">Continua</button>
</div>
<!--</div>-->
<app-footer></app-footer>
