<app-navbar></app-navbar>
<div>
    <a (click)="goBack()" class="back-link">&lt; annulla</a>
</div>
<main class="signup-container">
    <div class="signup-box">
        <h1>Registrati</h1>
        <form [formGroup]="signupForm" method="post">
            <div class="input-group">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" formControlName="name" required>
                @if(f['name'].invalid && (f['name'].touched || submitted)) {
                    <div class="error">Campo obbligatorio</div>
                }
            </div>
            <div class="input-group">
                <label for="surname">Cognome</label>
                <input type="text" id="surname" name="surname" formControlName="surname" required>
                @if(f['surname'].invalid && (f['surname'].touched || submitted)) {
                    <div class="error">Campo obbligatorio</div>
                }
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email" required>
                @if(f['email'].invalid && (f['email'].touched || submitted)) {
                    <div class="error">Campo obbligatorio</div>
                }
            </div>
            <div class="input-group password-container">
                <label for="password1">Password</label>
                <input type="password" id="password1" name="password1" formControlName="password1" required>
                <!-- Icona per mostra/nascondi -->
                <span class="material-symbols-outlined toggle-password" style="cursor: pointer;"
                    (click)="hidePassword1 = !hidePassword1">
                    {{ hidePassword1 ? 'visibility' : 'visibility_off' }}
                </span>
                @if(f['password1'].invalid && (f['password1'].touched || submitted)) {
                    <div class="error">Campo obbligatorio</div>
                }
            </div>
            <div class="input-group password-container">
                <label for="password2">Conferma password</label>
                <input type="password" id="password2" name="password2" formControlName="password2" required>
                <!-- Icona per mostra/nascondi -->
                <span class="material-symbols-outlined toggle-password" style="cursor: pointer;"
                    (click)="hidePassword2 = !hidePassword2">
                    {{ hidePassword2 ? 'visibility' : 'visibility_off' }}
                </span>
                @if(f['password2'].invalid && (f['password2'].touched || submitted)) {
                    <div class="error">Campo obbligatorio</div>
                }
            </div>
            <div class="input-group">
                <label for="phone">Telefono</label>
                <input type="number" id="phone" name="phone" formControlName="phone" required>
                @if(f['phone'].invalid && (f['phone'].touched || submitted)) {
                    <div class="error">Campo obbligatorio</div>
                }
            </div>
            <div class="input-group">
                <label for="dob">Data di nascita</label>
                <input type="date" id="dob" name="dob" formControlName="dob" required>
                @if(f['dob'].invalid && (f['dob'].touched || submitted)) {
                    <div class="error">Campo obbligatorio</div>
                }
            </div>
            <button type="submit" class="signup-button" (click)="signup()">Registrati</button>
        </form>
        <div class="links">
            <a (click)="login()">Hai già un account? Accedi</a>
        </div>
    </div>
</main>