<footer class="footer">
  <div class="footer-container">
    
    <div class="footer-column footer-about">
      <h3 class="logo-footer">AirGo</h3>
      <p>Il tuo partner di fiducia per viaggiare nel mondo. Prenota voli in modo semplice e sicuro.</p>
    </div>

    <div class="footer-column footer-links">
      <h4>Link Utili</h4>
      <ul>
        <li><a href="#">Chi siamo</a></li>
        <li><a href="#">I miei voli</a></li>
        <li><a href="#">Contatti</a></li>
        <li><a href="#">Aiuto & FAQ</a></li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 AirGo by Dario Caberlotto, Francesco Pasqualato, Elia Stevanato</p>
  </div>
</footer>