.footer {
  background-color: #3b5998; 
  color: #dfe3ee; 
  padding-top: 40px;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 20px 30px 20px;
  gap: 20px;
}

.footer-column {
  flex: 1;
  min-width: 220px; 
  padding: 0 15px;
}


.footer-about .logo-footer {
  font-size: 32px; 
  font-weight: bold;
  color: white;
  margin-top: 0;
  margin-bottom: 15px;
}

.footer-about p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-column h4 {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative;
}
