<div class="stepper">
  <div class="step" routerLink="/seatselection" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <span class="icon">🪑</span>
    <span class="label">Posti</span>
  </div>
  <div class="step" routerLink="/baggageselection" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <span class="icon">🎒</span>
    <span class="label">Bagagli</span>
  </div>
  <div class="step" routerLink="/ticketsummary" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <span class="icon">💳</span>
    <span class="label">Revisione e pagamento</span>
  </div>
</div>