<div class="air-go-container">
  <app-navbar></app-navbar>

  <!-- Hero con filtri e pulsante aggiungi -->
  <div class="hero hero-flights">
    <h1>Gestione dei Voli</h1>
    <p>Qui puoi aggiungere, modificare o eliminare voli della tua compagnia aerea</p>
    <button class="add-btn hero-add-btn" (click)="showCreate=true">Aggiungi volo</button>

    <!-- Filtri -->
    <div [formGroup]="filterForm"  class="search-box filter-inside">
      
      
        <div class="input-group">
          <label>ID Volo</label>
          <input type="number" formControlName="id" placeholder="ID Volo">
        </div>
        <div class="input-group">
          <label>Stato</label>
          <select formControlName="status">
            <option value="All">Tutti</option>
            <option value="Programmato">Programmato</option>
            <option value="Decollato">Decollato</option>
            <option value="Atterrato">Atterrato</option>
            <option value="Cancellato">Cancellato</option>
          </select>
        </div>
      

      
        <div class="input-group">
          <label>Partenza (Aeroporto ID)</label>
          <input type="number" formControlName="departure">
        </div>
        <div class="input-group">
          <label>Data minima</label>
          <input type="date" formControlName="mindatedeparture">
        </div>
        <div class="input-group">
          <label>Data massima</label>
          <input type="date" formControlName="maxdatedeparture">
        </div>
     

      
        <div class="input-group">
          <label>Arrivo (Aeroporto ID)</label>
          <input type="number" formControlName="arrival">
        </div>
        <div class="input-group">
          <label>Data minima</label>
          <input type="date" formControlName="mindatearrival">
        </div>
        <div class="input-group">
          <label>Data massima</label>
          <input type="date" formControlName="maxdatearrival">
        </div>
      


        <button type="button" (click)="filtra()" class="search-btn">&#10141; Applica</button>
        <button type="button" (click)="reset()" class="search-btn reset">Reset</button>
    </div>

  </div>

  <!-- Lista voli -->
  <div class="second-container">
    @if(flights) {
      <div class="flight-list">
        @for(flight of flights; track flight.IdVolo) {
          <div class="flight-bar">
            <div class="flight-status">
              <h4>Volo #{{ flight.IdVolo }}</h4>
              <p class="time">{{ flight.DataPartenzaPrev | date:'dd-MM-yyyy' }}</p>
              <p>Stato: {{ flight.Stato }}</p>
            </div>

            <div class="flight-route">
              <div class="codes">
                <p class="code">{{ flight.CodicePartenza }}</p>
                <p class="time">{{ flight.DataPartenzaPrev | date:'HH:mm' }}</p>
              </div>

              <div class="arrow">➔</div>

              <div class="codes">
                <p class="code">{{ flight.CodiceArrivo }}</p>
                <div class="t">
                  <p class="time">{{ flight.DataArrivoPrev | date:'HH:mm' }}
                  @if(flight.DataArrivoPrev && flight.DataPartenzaPrev && (flight.DataArrivoPrev | date:'yyyy-MM-dd') !== (flight.DataPartenzaPrev | date:'yyyy-MM-dd')){+1}</p>
                </div>
              </div>
            </div>

            <button class="add-btn" (click)="gestisci(flight)">Gestisci</button>
          </div>
        }
      </div>
    }
  </div>


  @if(showCreate) {
  <div class="modal-overlay">
    <div class="modal-content">
      <h3>Aggiungi volo</h3>
      <form [formGroup]="newFlightForm" (ngSubmit)="addFlight()">

        <label for="plane">Aereo</label>
        <select formControlName="plane" required>
          <option value="" disabled>Seleziona un Aereo</option>
          @for(plane of planes; track plane.IdAereo) {
            <option [value]="plane.IdAereo">{{ plane.NomeModello }}-{{ plane.IdAereo}}</option>
          }
        </select>

        <label for="route">Rotta</label>
        <select formControlName="route" required>
          <option value="" disabled>Seleziona una Rotta</option>
          @for(route of routes; track route.IdRotta) {
            <option [value]="route.IdRotta">{{ route.CodicePartenza }}➔{{ route.CodiceDestinazione }}</option>
          }
        </select>

        <label for="schdepdate">Data partenza</label>
        <input type="datetime-local" id="schdepdate" formControlName="schdepdate" required>

        <label for="scharrdate">Data arrivo</label>
        <input type="datetime-local" id="scharrdate" formControlName="scharrdate" required>

        <label for="pcprize">Prezzo prima classe</label>
        <input type="number" id="pcprize" formControlName="pcprice" required min="0">

        <label for="bprize">Prezzo business</label>
        <input type="number" id="bprize" formControlName="bprice" required min="0">

        <label for="eprize">Prezzo economy</label>
        <input type="number" id="eprize" formControlName="eprice" required min="0">

        <label for="bagprize">Prezzo bagaglio extra</label>
        <input type="number" id="bagprize" formControlName="bagprice" required min="0">

        <label for="lrprize">Prezzo spazio gambe</label>
        <input type="number" id="lrprize" formControlName="lrprice" required min="0">

        <label for="scprize">Prezzo scelta posto</label>
        <input type="number" id="scprize" formControlName="scprice" required min="0">

        <div class="modal-buttons">
          <button type="submit" class="add-btn" [disabled]="newFlightForm.invalid">Aggiungi</button>
          <button type="button" class="cancel-btn" (click)="closeModal()">Annulla</button>
        </div>

      </form>
    </div>
  </div>
}

@if(showManage && selectedFlight) {
  <div class="modal-overlay">
    <div class="modal-content manage-modal">
      <h3>Gestisci volo #{{selectedFlight.IdVolo}}</h3>

      <div class="manage-body containerb">
        <div class="info-details">

  
        <div class="info-box">
          <h4 (click)="toggleSection('volo')">
            Info Volo
            <span>{{ expandedSection === 'volo' ? '▲' : '▼' }}</span>
          </h4>
          @if(expandedSection==='volo'){
          <div class="info-content">
            <p>
              <strong>Aeroporto di partenza:</strong> 
              {{ selectedFlight.CittaPartenza }} ({{ selectedFlight.CodicePartenza }})
            </p>

            <p>
              <strong>Orario di partenza:</strong> 
              {{ selectedFlight.DataPartenzaPrev | date:'dd/MM/yyyy HH:mm' }} 
              - 
              {{ selectedFlight.DataPartenzaEff ? (selectedFlight.DataPartenzaEff | date:'dd/MM/yyyy HH:mm') : 'Non ancora decollato' }}
            </p>

            <p>
              <strong>Aeroporto di arrivo:</strong> 
              {{ selectedFlight.CittaArrivo }} ({{ selectedFlight.CodiceArrivo }})
            </p>

            <p>
              <strong>Orario di arrivo:</strong> 
              {{ selectedFlight.DataArrivoPrev | date:'dd/MM/yyyy HH:mm' }} 
              - 
              {{ selectedFlight.DataArrivoEff ? (selectedFlight.DataArrivoEff | date:'dd/MM/yyyy HH:mm') : 'Non ancora atterrato' }}
            </p>

            <p>
              <strong>Stato:</strong> {{ selectedFlight.Stato }}
            </p>
          </div>

        }
        </div>

       
        <div class="info-box">
          <h4 (click)="toggleSection('classi')">
            Classi
            <span>{{ expandedSection === 'classi' ? '▲' : '▼' }}</span>
          </h4>
          @if(expandedSection==='classi'){
          <div class="info-content">
            <p><strong>Prima Classe:</strong> {{selectedFlight.CostoPC}}€</p>
            <p><strong>Business:</strong> {{selectedFlight.CostoB}}€</p>
            <p><strong>Economy:</strong> {{selectedFlight.CostoE}}€</p>
          </div>
        }
        </div>

        <div class="info-box">
          <h4 (click)="toggleSection('extra')">
            Extra
            <span>{{ expandedSection === 'extra' ? '▲' : '▼' }}</span>
          </h4>
          @if(expandedSection==='extra'){
          <div  class="info-content">
            <p><strong>Bagaglio Extra:</strong> {{selectedFlight.CostoBag}}€</p>
            <p><strong>Spazio Gambe:</strong> {{selectedFlight.CostoLegRoom}}€</p>
            <p><strong>Scelta Posto:</strong> {{selectedFlight.CostoSceltaPosto}}€</p>
          </div>
        }
        </div>

      </div>


       
        <div class="info-actions" style="margin-left:auto;">
          @if(selectedFlightStatus === 'Programmato') {
            <button class="check-btn" (click)="checkin(selectedFlight.IdVolo)">Assegna posti</button>
            <button class="action-btn" (click)="decolloVolo(selectedFlight.IdVolo)">Decollo</button>
            <button class="add-btn" (click)="openEditPrices()">Modifica prezzi</button>
            <button class="delete-btn" (click)="cancellaVolo(selectedFlight.IdVolo)">Elimina</button>
          }
          @if(selectedFlightStatus === 'Decollato') {
            <button class="action-btn" (click)="atterraggioVolo(selectedFlight.IdVolo)">Atterraggio</button>
          }
          @if(selectedFlightStatus === 'Atterrato') {
            <button class="add-btn" (click)="openEditDates()">Modifica orari</button>
          }
        </div>
      </div>

      <div class="close-area">
        <button class="cancel-btn" (click)="closeManage()">Chiudi</button>
      </div>
    </div>

     <!-- Modale Edit Prezzi -->
    @if(showEditPrices) {
      <div class="modal-overlay">
        <div class="modal-content">
          <h3>Modifica Prezzi</h3>
          <form [formGroup]="editPricesForm" (ngSubmit)="saveEditPrices()">
            <label>Prezzo Prima Classe</label>
            <input type="number" formControlName="pcprice">

            <label>Prezzo Business</label>
            <input type="number" formControlName="bprice">

            <label>Prezzo Economy</label>
            <input type="number" formControlName="eprice">

            <div class="modal-buttons">
              <button type="submit" class="add-btn" [disabled]="editPricesForm.invalid">Salva</button>
              <button type="button" class="cancel-btn" (click)="closeEditPrices()">Annulla</button>
            </div>
          </form>
        </div>
      </div>
    }

    <!-- Modale Edit Date Effettive -->
    @if(showEditDates) {
      <div class="modal-overlay">
        <div class="modal-content">
          <h3>Modifica Orari Effettivi</h3>
          <form [formGroup]="editDatesForm" (ngSubmit)="saveEditDates()">
            <label>Data Partenza Effettiva</label>
            <input type="datetime-local" formControlName="effdepdate">

            <label>Data Arrivo Effettiva</label>
            <input type="datetime-local" formControlName="effarrdate">

            <div class="modal-buttons">
              <button type="submit" class="add-btn" [disabled]="editDatesForm.invalid">Salva</button>
              <button type="button" class="cancel-btn" (click)="closeEditDates()">Annulla</button>
            </div>
          </form>
        </div>
      </div>
    }

  </div>
}


 


<app-footer></app-footer>
</div>