<div class="air-go-container">
<app-navbar></app-navbar>

    <div class="hero hero-airports">
      <h2  style="color: white;">Gestione Aeroporti</h2>
      <p  style="color: white;">Qui puoi aggiungere, modificare o eliminare aerporti</p>
    <button class="add-btn" (click)="showModal=true">Nuovo aeroporto</button>




  <form [formGroup]="filterForm"  (ngSubmit)="filtra()" class="search-box filter-inside">

    <div class="input-group">
      <label>ID</label>
      <input type="number" formControlName="id">
    </div>

    <div class="input-group">
    <label>Città</label>
    <input type="text" formControlName="city">
    </div>


    <div class="input-group">
    <label>Nazione</label>
    <input type="text" formControlName="country">
    </div>  


    <div class="input-group">
    <label>Codice identificativo</label>
    <input type="text" formControlName="code">
    </div>
    
      <button type="submit" class="search-btn">&#10141;</button>
      <button type="button" class="search-btn reset" (click)=reset() >Reset</button>

  </form>
</div>

<div class="second-container">
  <div class="airport-list">
  <div class="airports-grid">
    @for(airport of airports; track airport.IdAeroporto) {
      <div class="airport-card">
        <div class="airport-codes">
          <h4>{{airport.CodiceIdentificativo}}</h4>
        <p>{{airport.Citta}} - {{airport.Nome}}</p>
        </div>
        <button class="action-btn" (click)="gestisci(airport)">Gestisci</button>
      </div>
    }
  </div>
    </div>


  @if(showModal) {
  <div class="modal-overlay">
    <div class="modal-content">
      <h3>Nuovo aeroporto</h3>
      <form [formGroup]="newAirportForm" (ngSubmit)="addAirport()">

        <label>Nome</label>
        <input type="text" formControlName="name">

        <label>Città</label>
        <input type="text" formControlName="city">

        <label>Nazione</label>
        <input type="text" formControlName="country">

        <label>Codice identificativo</label>
        <input type="text" formControlName="code">

        <div class="modal-buttons">
          <button type="submit" class="add-btn" [disabled]="newAirportForm.invalid">Aggiungi</button>
          <button type="button" class="cancel-btn" (click)="closeCreate()">Annulla</button>
        </div>
      </form>   
    </div>
  </div>
  }

  @if(showManage && selectedairport) {
  <div class="modal-overlay">
    <div class="modal-content manage-modal">
      <h3>Gestione aeroporto</h3>

      <div class="manage-body containerb">
        <div class="info-details">
          <div class="info-box">
            <h4>Info Aeroporto</h4>
            <p><strong>ID:</strong> {{ selectedairport.IdAeroporto }}</p>
            <p><strong>Nome:</strong> {{ selectedairport.Nome }}</p>
            <p><strong>Città:</strong> {{ selectedairport.Citta }}</p>
            <p><strong>Nazione:</strong> {{ selectedairport.Nazione }}</p>
            <p><strong>Codice identificativo:</strong> {{ selectedairport.CodiceIdentificativo }}</p>
        </div>

        </div>

       
        <div class="info-actions">
            <button class="action-btn" (click)="openEdit()">Modifica</button>
            <button class="delete-btn" (click)="deleteAirport(selectedairport.IdAeroporto)">Elimina</button>
        </div>
      </div>

      <div class="close-area">
        <button class="cancel-btn" (click)="closeManage()">Chiudi</button>
      </div>
    </div>
     @if(showEdit && selectedairport) {
          <div class="modal-overlay">
            <div class="modal-content">
              <h3>Modifica aeroporto #{{selectedairport.IdAeroporto}}</h3>
              <form [formGroup]="editAirportForm" (ngSubmit)="saveEdit()">

                <label>Nome</label>
                <input type="text" formControlName="name" placeholder="{{selectedairport.Nome}}">

                <label>Città</label>
                <input type="text" formControlName="city" placeholder="{{selectedairport.Citta}}">

                <label>Nazione</label>
                <input type="text" formControlName="country" placeholder="{{selectedairport.Nazione}}">

                <label>CodiceIdentificativo</label>
                <input type="text" formControlName="code" placeholder="{{selectedairport.CodiceIdentificativo}}">

                <div class="modal-buttons">
                  <button type="submit" class="save-btn">Salva</button>
                  <button type="button" class="dismiss-btn" (click)="closeEdit()">Annulla</button>
                </div>

              </form>
            </div>
          </div>
        }
  </div>
}
</div>

<app-footer></app-footer>
</div>