<app-navbar></app-navbar>

<div class="airplanes-container">
  <div class="header">
    <div class="title-group">
      <h2>Gestione Aerei</h2>
      <p>Qui puoi aggiungere o eliminare aerei della tua compagnia</p>
    </div>
    <button class="add-airplane-btn" (click)="showModal=true">Nuovo aereo</button>
  </div>

  <div class="airplane-list">
    @for(airplane of airplanes; track airplane.IdAereo) {
      <div class="airplane-bar">
        <div class="airplane-info">
          <p><strong>Aereo:</strong> {{ airplane.NomeModello }} - {{ airplane.IdAereo }}</p>
          <p><strong>Anno di costruzione:</strong> {{ airplane.AnnoCostruzione }}</p>
        </div>
        <button class="delete-btn">Elimina</button>
      </div>
    }
  </div>

  @if(showModal) {
  <div class="modal-overlay">
    <div class="modal-content">
      @if(!creatingNewModel){
      <h3>Nuovo aereo</h3>
      <form [formGroup]="newPlaneForm" (ngSubmit)="addPlane()">
        <label>Modello</label>

        <div class="containerb">
          <select formControlName="model">
            <option value="" disabled>Seleziona un modello</option>
            @for(model of models; track model.IdModello) {
              <option [value]="model.IdModello">{{ model.Nome }}</option>
            }
          </select>
          

          <button type="button" class="add-btn" (click)="create()">Crea</button>
        </div>
        


        <label>Anno di costruzione</label>
        <input type="number" formControlName="constructionyear">

        <div class="modal-buttons">
          <button type="submit" class="add-btn" [disabled]="newPlaneForm.invalid">Aggiungi</button>
          <button type="button" class="cancel-btn" (click)="closeModal()">Annulla</button>
        </div>
      </form>
    }

    @if(creatingNewModel) {
      <h3>Nuovo modello</h3>
      <form [formGroup]="newModelForm" (ngSubmit)="addModel()">

          <label>Nome modello</label>
          <input type="text" formControlName="name">

          <label>Posti prima classe</label>
          <input type="number" formControlName="firstclass">

          <label>Righe Business</label>
          <input type="number" formControlName="rowb">

          <label>Colonne Business</label>
          <select formControlName="colb">
            <option value="" disabled>Seleziona numero colonne</option>
            @for (i of evenNumbers; track i) {
              <option [value]="i">{{ i }}</option>
            }
          </select>

          <label>Righe Economy</label>
          <input type="number" formControlName="rowe">

          <label>Colonne Economy</label>
          <select formControlName="cole">
            <option value="" disabled>Seleziona numero colonne</option>
            @for (i of evenNumbers; track i) {
              <option [value]="i">{{ i }}</option>
            }
          </select>

          <label>Righe con spazio extra per le gambe</label>
          <input type="number" formControlName="extraleg">

          <div class="modal-buttons">
          <button type="submit" class="add-btn" [disabled]="newModelForm.invalid">Aggiungi</button>
          <button type="button" class="cancel-btn" (click)="closeCreate()">Indietro</button>
        </div>

      </form>
      }
    </div>
  </div>
  }


  



</div>



<app-footer></app-footer>