<app-navbar></app-navbar>

<div class="airplanes-container">
  <div class="header">
    <div class="title-group">
      <h2>Gestione Aerei</h2>
      <p>Qui puoi aggiungere o eliminare aerei della tua compagnia</p>
    </div>
    <button class="add-btn" (click)="showModal=true">Nuovo aereo</button>
  </div>

  <div class="airplane-list">
    @for(airplane of airplanes; track airplane.IdAereo) {
      <div class="airplane-bar">
        <div class="airplane-info">
          <p><strong>Aereo:</strong> {{ airplane.NomeModello }} - {{ airplane.IdAereo }}</p>
          <p><strong>Anno di costruzione:</strong> {{ airplane.AnnoCostruzione }}</p>
        </div>
        <button class="delete-btn" (click)="deletePlane(airplane.IdAereo)">Elimina</button>
      </div>
    }
  </div>

  @if(showModal) {
  <div class="modal-overlay">
    <div class="modal-content">
      <h3>Nuovo aereo</h3>
      <form [formGroup]="newPlaneForm" (ngSubmit)="addPlane()">
        <label>Modello</label>

        <div class="containerb">
          <select formControlName="model">
            <option value="" disabled>Seleziona un modello</option>
            @for(model of models; track model.IdModello) {
              <option [value]="model.IdModello">{{ model.Nome }}</option>
            }
          </select>
          

          <button type="button" class="add-btn" (click)="toCreate()">Crea</button>
        </div>
        


        <label>Anno di costruzione</label>
        <input type="number" formControlName="constructionyear">

        <div class="modal-buttons">
          <button type="submit" class="add-btn" [disabled]="newPlaneForm.invalid">Aggiungi</button>
          <button type="button" class="cancel-btn" (click)="closeModal()">Annulla</button>
        </div>
      </form>   
    </div>
  </div>
  }
</div>

<app-footer></app-footer>