<app-navbar></app-navbar>
<div class="flight-container">
  <h1>Risultati della ricerca voli</h1>

  @if(flightGroups.length === 0) {
  <div class="no-flights">Nessun volo trovato</div>
  }

  <div class="sort-container">
    <label for="sort">Ordina per:</label>
    <select id="sort" [(ngModel)]="sortBy" (change)="sortFlights()">
      <option value="priceAsc">Costo più basso</option>
      <option value="priceDesc">Costo più alto</option>
      <option value="departureAsc">Data di partenza più recente</option>
      <option value="departureDesc">Data di partenza più lontana</option>
    </select>
  </div>


  @for(group of flightGroups; track group.segments[0].id) {
  <div class="flight-card" [ngClass]="{ 'multi': group.isMultiSegment }">
    <div class="flight-header">
      <span class="airline">{{ group.segments[0].airline || '' }}
        {{ group.segments[1] ? ' - ' + group.segments[1].airline : '' }}</span>
      <span class="price">A partire da €{{ (group.segments[0].price || 0) + (group.segments[1] ?
        group.segments[1].price : 0) }}</span>
    </div>

    @if(group.isMultiSegment) {
    <span class="badge">Volo con scalo ✈️</span>
    }

    @for(segment of group.segments; track segment.id) {
    <div class="flight-details">
      <div><strong>Da:</strong> {{ segment.from }}</div>
      <div><strong>A:</strong> {{ segment.to }}</div>
      <div><strong>Partenza:</strong> {{ segment.departure | date: 'dd/MM/yyyy HH:mm' }}</div>
      <div><strong>Arrivo:</strong> {{ segment.arrival | date: 'dd/MM/yyyy HH:mm' }}</div>
      @if(!segment.full) {
      <button class="action-btn" (click)="buy()" routerLink="/seatselection" [queryParams]="{ id: segment.id }"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Acquista</button>
      } @else {
      <button class="action-btn disabled" disabled>Posti esauriti</button>
      }
    </div>
    }


  </div>
  }
</div>
<app-footer></app-footer>