.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.login-box {
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 15px;
    background-color: #ff7f50; 
    color: #ffffff;            
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover {
    background-color: #e67345;
}


.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links a {
    color: #3b5998;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.links a:hover {
    text-decoration: underline;
}

.back-link {
  display: inline-block;
  margin-bottom: 10px;
  color: #333;
  cursor: pointer;
  padding-left: 8%;
  padding-top: 10px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 52%;
  cursor: pointer;
  font-size: 24px;
  color: #555;
  user-select: none;
}

.error {
  color: red;
  font-size: 0.9rem;
}

input.ng-invalid.ng-touched {
  border-color: red;
}