<app-navbar></app-navbar>
<div>
    <a (click)="goBack()" class="back-link">&lt; annulla</a>
</div>
<main class="login-container">

    <div class="login-box">
        <h1>Password airline</h1>
        <form method="post" [formGroup]="passwordForm">
            <div class="input-group password-container">
                <label for="password">Password</label>

                <input [type]="hidePassword1 ? 'password' : 'text'" id="password1" name="password1"
                    formControlName="password1" required>

                <!-- Icona per mostra/nascondi -->
                <span class="material-symbols-outlined toggle-password" style="cursor: pointer;"
                    (click)="hidePassword1 = !hidePassword1">
                    {{ hidePassword1 ? 'visibility' : 'visibility_off' }}
                </span>
                @if(f['password1'].invalid && (f['password1'].touched || submitted)) {
                    <div class="error">Campo obbligatorio</div>
                }
            </div>
            <div class="input-group password-container">
                <label for="password2">Conferma password</label>

                <input [type]="hidePassword2 ? 'password' : 'text'" id="password2" name="password2"
                    formControlName="password2" required>

                <!-- Icona per mostra/nascondi -->
                <span class="material-symbols-outlined toggle-password" style="cursor: pointer;"
                    (click)="hidePassword2 = !hidePassword2">
                    {{ hidePassword2 ? 'visibility' : 'visibility_off' }}
                </span>
                @if(f['password2'].invalid && (f['password2'].touched || submitted)) {
                    <div class="error">Campo obbligatorio</div>
                }
            </div>
            <button type="submit" class="add-btn" (click)="submit()">Conferma</button>
        </form>
    </div>
</main>