<app-navbar></app-navbar>
<!--<div class="img-container">-->
<app-ticket-bar></app-ticket-bar>
<div class="ticket-container">
  <h2>Passeggeri</h2>
  <p>Inserisci i dati come indicati sul passaporto o sulla documentazione di viaggio</p>
  @if(passengerForm) {
  <div [formGroup]="passengerForm">
    @if(passengers.controls.length > 0) {
    <div formArrayName="passengers" *ngFor="let passengerGroup of passengers.controls; let i = index">
      <div class="passenger-card" [formGroupName]="i">
        <h3>Passeggero {{ i + 1 }}</h3>

        <div class="form-group-inline">
          <label for="name{{i}}">Nome</label>
          <input type="text" id="name{{i}}" formControlName="name" required />
          @if(getPassengerGroup(i).get('name')?.invalid && (getPassengerGroup(i).get('name')?.touched || submitted)) {
          <div class="error">Campo obbligatorio</div>
          }
        </div>

        <div class="form-group-inline">
          <label for="surname{{i}}">Cognome</label>
          <input type="text" id="surname{{i}}" formControlName="surname" required />
          @if(getPassengerGroup(i).get('surname')?.invalid && (getPassengerGroup(i).get('surname')?.touched ||
          submitted)) {
          <div class="error">Campo obbligatorio</div>
          }
        </div>

        <div class="form-group-inline">
          <label for="dob{{i}}">Data di Nascita</label>
          <input type="date" id="dob{{i}}" formControlName="dob" required />
          @if(getPassengerGroup(i).get('dob')?.invalid && (getPassengerGroup(i).get('dob')?.touched || submitted)) {
          <div class="error">Campo obbligatorio</div>
          }
        </div>
      </div>

      <!-- Sezione Bagagli -->
      <div class="container">
        <h2>Bagagli per il check-in</h2>
        <div *ngFor="let option of options" [ngClass]="{selected: option.id === selectedOption[i]}"
          (click)="selectOption(option.id, i)">
          <div class="title"><strong>{{ option.name }}</strong></div>
          <div class="price">{{ option.price }} €</div>
        </div>
      </div>
    </div>
    }

    <button type="submit" class="submit-button" [disabled]="!passengerForm.valid" (click)="submitted = true"
      routerLink="/ticketsummary" [queryParams]="{ price: price, seats: seats | json, extraBag: extraBag | json }"
      routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Continua
    </button>
  </div>
  }
</div>
<!--</div>-->

<app-footer></app-footer>