* {
    font-family: 'Roboto';
}


.air-go-container {
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
  box-sizing: border-box;
}

.hero {
  background-image: url('../assets/img/home_background.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 80px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 30px;
}


.search-box {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #555;
}

.input-group label {
  font-size: 12px;
  font-weight: bold;
}

.input-group input {
  border: none;
  padding: 5px;
  background: transparent;
  outline: none;
  font-size: 16px;
  width: 150px;
}

.search-btn {
  background-color: #ff7f50;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  align-self: flex-end;
}
