<div class="air-go-container">
  <app-navbar></app-navbar>

  <div class="hero">
    <h1>Le migliori offerte ti aspettano</h1>
    <div class="search-box">
      <div class="input-group">
        <label>Da</label>
        <input type="text" [value]="from">
      </div>
      <div class="input-group">
        <label>A</label>
        <input type="text" [value]="to">
      </div>
      <div class="input-group">
        <label>Andata</label>
        <input type="date" [value]="departureDate">
      </div>
      <div class="input-group">
        <label>Ritorno</label>
        <input type="date" [value]="returnDate">
      </div>
      <button class="search-btn" type="button" (click)="searchFlights()">&#10141;</button>
    </div>
  </div>
  <div class="why-us">
    <h2>Perché Scegliere AirGo</h2>
    <div class="cards-container">
      
      <div class="card">
        <div class="card-icon">
          <span class="icon">🏆</span>
        </div>
        <h3>Prezzi Imbattibili</h3>
        <p>Confrontiamo migliaia di offerte da centinaia di compagnie aeree per garantirti sempre il prezzo più basso sul mercato.</p>
      </div>
      
      <div class="card">
        <div class="card-icon">
          <span class="icon">🌍</span>
        </div>
        <h3>Vasta Scelta Globale</h3>
        <p>Accedi a un inventario globale di voli. Dalle capitali europee alle mete esotiche, ti portiamo ovunque tu voglia andare.</p>
      </div>

      <div class="card">
        <div class="card-icon">
          <span class="icon">🔒</span>
        </div>
        <h3>Prenotazione Sicura e Semplice</h3>
        <p>Il nostro sistema di prenotazione è intuitivo, veloce e protetto con i più alti standard di sicurezza per la tua tranquillità.</p>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>