.container {
  padding: 2rem;
}

.seat-map {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seat-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.seat {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

.seat:hover {
  opacity: 0.8;
}

.seat.business {
  background-color: #004080;
  color: white;
}

.seat.economy {
  background-color: #4caf50;
  color: white;
}

.seat.firstclass {
  background-color: #FFA500;
  color: black;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.seat.selected {
  border: 3px solid #000;
}

.seat.unavailable {
  background-color: #888;
  cursor: not-allowed;
  color: #fff;
}

.aisle-space {
  width: 30px; /* spazio tra le due sezioni */
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.business-label,
.economy-label {
  font-size: 18px;
  font-weight: bold;
  color: #004080;
  margin-bottom: 10px;
}

.submit-button {
  width: 350px;
  padding: 15px;
  background: #ff7f50;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.submit-button:hover {
  background: #e67345;
}
