<app-navbar></app-navbar>
<app-ticket-bar></app-ticket-bar>

<div class="container">
    <h2>Seleziona il tuo posto</h2>

    <!-- Input per il numero di biglietti -->
    <div class="ticket-quantity">
        <label for="ticketCount">Numero di biglietti:</label>
        <input type="number" id="ticketCount" name="ticketCount" [(ngModel)]="ticketCount" min="1" max="10"
            (input)="onTicketCountChange()" />
    </div>

    <div class="seat-map">
            <div class="seat firstclass" [ngClass]="{'selected': getSeat(0, '0')?.selected}"
                (click)="selectSeat(getSeat(0, '0')!)">
                First Class
            </div>

            <!-- Usando @for invece di ngFor -->
            @for(row of [1,2,3,4,5,6,7,8,9,10]; track row) {
            <div class="seat-row">
                @for(col of ['A','B','C','D','E','F']; track col) {
                <div class="seat" [ngClass]="{
                         'business': getSeat(row, col)?.type === 'business',
                         'selected': getSeat(row, col)?.selected
                    }" (click)="selectSeat(getSeat(row, col)!)">
                    {{ row }}{{ col }}
                </div>
                }
            </div>
            }

        <!-- Etichette per le classi -->
        <div class="labels">
            <div class="business-label">Business</div>
            <div class="economy-label">Economy</div>
        </div>
    </div>

    <button type="submit" class="submit-button" (click)="submit()">Continua</button>
</div>

<app-footer></app-footer>